{% extends 'base.html.twig' %}

{% block title %}Jeux video!{% endblock %}

{% block body %}
<style>
.article-jeux {
    display: block;
    margin-top: 50px;
}
.flip-card {
    flex-grow: 4;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

aside {
    margin-top: -300px;
    margin-left: 308px;
    float: right;
}

</style>
    <div class="container">
        <div class="row">
            <article class="article-jeux">
            {% for jeux in jeuxvideo %}
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img src="{{jeux.coverImage}}" alt="Avatar" style="width:300px;height:300px;">
                        </div>
                        <div class="flip-card-back">
                            <h2>{{ jeux.name }} </h2> 
                            <p>{{jeux.introduction}}</p> 
                            <p>{{jeux.description|u.truncate(150)|raw}}</p>
                        </div>
                    </div>
                </div>
                <hr>
                <aside>
                    <div>
                        <h3>{{jeux.introduction}}</h3>
                        {{jeux.description|raw}}
                        {# <p> {{ jeux.videos.name }} </p> #}
                        {# <iframe src="{{jeux.videos.url}}" frameborder="0"></iframe> #}
                    </div>
                </aside>
            {% endfor %}
            </article>
        </div>
    </div>
{% endblock %}
